#sticky_top{
	display:flex;
	position: sticky;
	top: 0;
	align-items: center;
	flex-direction: column;

}



.header{
	order: 1;
	text-align: center;
	font-family:Courier New;
	font-size:  210%;
	border-style: solid;
	border-color: black;
	color: beige;
	background-image: url("n2.gif");
	max-height: 150px;
	width: 100%;
	
	background-size: contain;
	justify-content: center;
	flex-wrap: wrap;
}



/* for the flex items in navbar*/

.navigation_bar{
	order: 2;
	display: flex;
	border-style: solid;
	height: 30px;
	flex-direction: row;
	justify-content: space-between;
	font-size: 120%;
	background-color: saddlebrown;
	text-decoration: none;
	width: 100%;
	align-items: stretch;
	flex-wrap: wrap;
	padding-top: 2px;
	padding-bottom: 2px;
}

.nav_button{
	border-style: outset;
	background-color:lightgoldenrodyellow;
	font-family:Georgia, 'Times New Roman', Times, serif;
	border-color: blue;
	color: saddlebrown;
	padding-left: 20px;
	border-radius: 12px;
	padding-right: 20px;
}


#assignment_blurb {
	font-size: 120%;
	font-family: Courier New;
	font-weight: bold;
	color: rgb(57, 11, 207);
	text-align: center;
}



.divider {
	border-top: 5px dashed salmon;
	margin-top: 20px;
}


.assignment_stats {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.assignment_block {
	font-family: Courier New;
	font-size: 120%;
	color: saddlebrown;
	font-weight: bold;
}

h3{
	font-weight:bolder;
	color:black;
}


/*define behaviour for links */
a:link {
	text-decoration: none;
}
a:visited{
	text-decoration: underline;
}
a:hover{
	text-decoration: underline;
	text-shadow: blueviolet;
	text-decoration-color: black;
}
a:active{
	color:aqua;
	text-decoration: underline;
	text-decoration-color: greenyellow;
}


h3{
	font-weight: bold;
}

body {
	background-color: lightgoldenrodyellow;

}

.footer {
	margin-top: 100px;
	color: darkmagenta;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px, 10px;
	align-items: center;
}