
title {
	color: green;
}

#welcome {
	background-image: url("hi.jpg");
	margin:auto;
	border-style: solid;
	color: black;

	max-height:min-content;
}

#welcome_text{
	background-color: aliceblue;
	color:black;
	font-size: 25px;
	max-width: min-content;
	margin:auto;
}

.header{

	text-align: center;
	font-family:Courier New;
	font-size:  210%;
	border-style: solid;
	border-color: black;
	color: salmon;
	background-image: url("n.gif");
	
	max-height: 150px;
}

/*
values for the first flexbox 
*/

.navigation_bar{
	display: flex;
	border-style: solid;
	height: 30px;
	flex-direction: row;
	justify-content: space-between;
	font-size: 120%;
	background-color: rgb(11, 97, 211);
	text-decoration: none;
}

.nav_button{
	border-style: solid;
	background-color: beige;
	font-family:Georgia, 'Times New Roman', Times, serif;
	border-style:hidden;
}
/*define behaviour for links */
a:link {
	text-decoration: none;
}
a:visited{
	text-decoration: underline;
}
a:hover{
	text-decoration: underline;
	text-shadow: blueviolet;
	text-decoration-color: black;
}
a:active{
	background-color: aqua;
	background-image: url("hi.jpg");
	color:black;
	text-decoration: underline;
	text-decoration-color: greenyellow;
}

#sticky_top{
	position: sticky;
	top: 0;
}

/* THE ABOVE SHOULD BE IN EVERY CSS FILE! */

body {
	color:  salmon;
	background: rgb(255, 255, 206);
	font-size: 120%;

}

#welcome{
	font-family:papyrus;	
	font-size: 150%;				
}


.divider {
	border-top: 5px dashed salmon;
	margin-top: 10px;
}

.text_blurb {

	color: sienna;
	font-family: Rockwell ;

}

/* Values for the second textbox */
.upper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: sienna;
	font-size: 120%;
	border-color: salmon;
	border-style: solid;
}
.lower {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: saddlebrown;
	border-color: salmon;
	border-style: solid;
}

.headings {
	color: sienna;
	font-size: 150%;
	font-family: Courier New;
}

#course_logistics {
	color:  sienna;
	fontsize:  110%;
	font-family: Rockwell;
}

/*FOOTER SHOULD BE PRESENT IN EVERY CSS*/
.footer {
	margin-top: 100px;
	color: darkmagenta;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px, 10px;
	align-items: center;
}