
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

.container {
  background:hsl(0, 33%, 99%);
  color:#00b7f5;
  margin: 0 auto;
}
.navigation {
	list-style: none;
	margin: 0;
	background: #00ccff;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
}

.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}

.navigation a:hover {
	background: #00b7f5;
}

.footer {
	margin-top: 100px;
	color: darkmagenta;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px, 10px;
	align-items: center;
}