<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lecture Notes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    </head>

    <body>
        <header>
            <div class="container">
                <h1 class="logo">Lecture Notes for B20</h1>
                <strong>
                    <nav class="navigation">
                        <a href="{{ url_for('login') }}">Login</a>
                        <a href="{{ url_for('register') }}">Register</a>
                        <a href="{{ url_for('index') }}">Home</a>
                        <a href="{{ url_for('course_team') }}">Course Team</a>
                        <a href="syllabus.pdf">Syllabus</a>
                        <a href="{{ url_for('weekly_schedule') }}">Weekly Schedule</a>
                        <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments">Markus</a>
                        <a href="https://piazza.com/class/kxj5alixpjg4ft">Piazza</a>
                        <a href="{{ url_for('assignments') }}">Assignments</a>
                        <a href="{{ url_for('labs') }}">Labs</a>
                    </nav>
                </strong>
            </div>
        </header>

        <br>
        
        {% block content %}
        {% endblock %}
        
        <br>

        <div class="footer">      
            <div><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT</a></div>
            <div><img src="UofT.png" class="footer_pic" alt="UofT is no more"></div>
            <div><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">image source</a></div>
            <div><p class="signature">Site designed by Raymond Moy</p></div>
        </div>

    </body>
</html>
